.App {
  text-align: center;
  height: 100vh;

}

/* Header */

.header{
  justify-content: center;
  display: flex;
}

.rshead{
  position: absolute;
  margin-top: -5%;
  /* margin-left: -25%; */
  z-index: 0;
  width: 100%;
  /* height: auto; */
  
}

.mail{
  z-index: 1;
  position: absolute;
  margin-top: 47%;
  width: 100%;
}

/* Face Card */

.facecard{
  display: flex;
  justify-content: center;
  padding-bottom: 2%;
}

.infocard{
  margin-top: 53%;
  width: 98%;
  height: auto;
}

.iconlinks{
  display: flex;
  justify-content: center;
  position: absolute;
  column-gap: 15%;
  width: 70%;
  margin-top: 130%;
}

/* html,body {
  background-image: url("..src/assets/background.svg");
  background-size: 100%;
  margin:0;
  font-family: Arial;
} */